*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */

  /* Primary */
  --clr-soft-cyan: hsl(174, 77%, 80%); /* Full Slider Bar */
  --clr-strong-cyan: hsl(174, 86%, 45%); /* Slider Background */
  --clr-light-grayish-red: hsl(14, 92%, 95%); /* Discount Background */
  --clr-light-red: hsl(15, 100%, 70%); /* Discount Text */
  --clr-pale-blue: hsl(226, 100%, 87%); /* CTA Text */

  /* Neutral */
  --clr-white: hsl(0, 0%, 100%); /* Pricing Component Background */
  --clr-very-pale-blue: hsl(230, 100%, 99%); /* Main Background */
  --clr-light-grayish-blue: hsl(224, 65%, 95%); /* Empty Slider Bar */
  --clr-light-grayish-blue-2: hsl(223, 50%, 87%); /* Toggle Background */
  --clr-grayish-blue: hsl(225, 20%, 60%); /* Text */
  --clr-dark-desaturated-blue: hsl(227, 35%, 25%); /* Text & CTA Background */
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  background: var(--clr-very-pale-blue) url(../images/bg-pattern.svg) no-repeat;
  color: var(--clr-grayish-blue);
}

/* Global */
h1 {
  color: var(--clr-dark-desaturated-blue);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  width: max-content;
  margin: auto;
  padding: 6em 0 5em;
  text-align: center;
  background: url(../images/pattern-circles.svg) no-repeat center;
}

header h1 {
  font-size: 1.7rem;
}

header p {
  font-size: 0.94rem;
  margin-top: 0.5em;
}

/* Card */
.card {
  width: 90%;
  max-width: 500px;
  min-height: 380px;
  margin: auto;
  background: var(--clr-white);
  box-shadow: 0 0.6rem 2rem -1rem #999;
  border-radius: 0.6em;
}
